﻿<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
 <!--<![endif]-->
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AGL</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="View/app/bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="View/app/bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="View/app/bower_components/AngularJS-Toaster/toaster.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="View/app/app.css">
    <style id="style-1-cropbar-clipper">
        /* Copyright 2014 Evernote Corporation. All rights reserved. */
        .en-markup-crop-options {
            top: 18px !important;
            left: 50% !important;
            margin-left: -100px !important;
            width: 200px !important;
            border: 2px rgba(255, 255, 255, .38) solid !important;
            border-radius: 4px !important;
        }

            .en-markup-crop-options div div:first-of-type {
                margin-left: 0px !important;
            }
    </style>
    <script src="View/app/bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body ng-app="agl" ng-cloak>
    <!-- Nav Bar -->
    <nav class="navbar navbar-default" role="navigation" ng-controller="SigninCtrl as signinVM" >
        <div class="navbar-header">

            <!-- note the ng-init and ng-click here: -->
            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true"
                    ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--logo-->
                <div id="logo">
                    <div class="avatars">
                        <a href="#">
                            <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAJVAAAAJGI3ZTQxNWU5LTI4YTAtNGEwMi1hY2YxLTVlOTJmZTVkZmFhYQ.jpg" alt="avatar1" />
                        </a>

                    </div>
                </div>
            </div>

            <!--logo-->
        </div>

        <!--menu items-->
        <div class="uib-collapse navbar-collapse" uib-collapse="navCollapsed">
            <ul class="nav navbar-nav">
                <li><a href="person"><i class="fa fa-file-movie-o fa-fw"></i> Person</a></li>
            </ul>
            
            <!--user login section-->
            <ul class="nav navbar-nav navbar-right" ng-hide="!!!signinVM.email">
                <div class="btn-group" uib-dropdown is-open="status2.isopen">
                    <button id="single-buttons" type="button" class="adminButton" uib-dropdown-toggle
                            ng-disabled="disabled">
                        <i class="fa fa-user fa-fw"></i>My Account <span class="caret"></span>
                    </button>
                    <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-buttons">
                        <li>
                            <a href="account">
                                <i class="fa fa-user fa-fw"></i>
                                {{signinVM.email}}({{signinVM.designation}}|{{signinVM.empid}})
                            </a>
                        </li>
                        <li>
                            <a ng-click="signinVM.userLogout()">
                                <i class="fa fa-sign-out fa-fw"></i>
                                Logout
                            </a>
                        </li>
                    </ul>
                </div>

            </ul>

            <ul class="nav navbar-nav navbar-right" ng-hide="!!signinVM.email">
                <li>
                    <input type="text" placeholder="Email" class="form-control" ng-model="signinVM.userLoginData.email">
                </li>
                <li>
                    <input type="password" placeholder="Password" class="form-control"
                           ng-model="signinVM.userLoginData.password">
                </li>
                <li>
                    <button class="form-control btn btn-success" ng-click="signinVM.login()">
                        <b>Login</b> <i ng-if="signinVM.isLogginClicked" class="fa fa-spinner fa-spin"></i>
                    </button>
                </li>
            </ul>

            <!--</ul>-->
        </div>
    </nav>
    <div class="row">
        <toaster-container></toaster-container>
    </div>

    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
        your browser</a> to improve your experience.</p>
    <![endif]-->
    <div ng-view class="col-md-12">
        <!-- ngRepeat: alert in alerts -->
    </div>
    <!-- Main Body for SPA -->
    <div id="contents">
        <!-- ngView:  -->
    </div>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="View/app/bower_components/angular/angular.js"></script>
    <script src="View/app/bower_components/angular-route/angular-route.js"></script>
    <script src="View/app/bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="View/app/bower_components/AngularJS-Toaster/toaster.js"></script>
    <script src="View/app/bower_components/angular-animate/angular-animate.js"></script>
    <script src="View/app/bower_components/angular-ui-bootstrap/ui-bootstrap-tpls-0.14.3.min.js"></script>  
    <script src="//mgcrea.github.io/angular-strap/dist/angular-strap.js" data-semver="v2.3.7"></script>
    <script src="//mgcrea.github.io/angular-strap/dist/angular-strap.tpl.js" data-semver="v2.3.7"></script>
    <script src="//mgcrea.github.io/angular-strap/docs/angular-strap.docs.tpl.js" data-semver="v2.3.7"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-filter/0.4.7/angular-filter.js"></script>

    <script src="View/app/bower_components/sly/core.js"></script>
    <script src="View/app/bower_components/sly/scalyr.js"></script>
    <script src="View/app/bower_components/sly/slyEvaluate.js"></script>
    <script src="View/app/bower_components/sly/slyRepeat.js"></script>

    <script src="View/app/app.js"></script>
    <!--moduleSignin-->
    <script src="View/app/moduleSignin/signinController.js"></script>
    <script src="View/app/moduleSignin/signinService.js"></script>

    <!--modulePerson-->
    <script src="View/app/modulePerson/personService.js"></script>
    <script src="View/app/modulePerson/personController.js"></script>

   
   
    <script src="View/app/components/version/version.js"></script>
    <script src="View/app/components/version/version-directive.js"></script>
    <script src="View/app/components/version/interpolate-filter.js"></script>
    <br />
    <br />
</body>

<footer class="modal-footer navbar-fixed-bottom">
    <div class="row">
        <div class="col-md-6 modal-footer-left blackfont hoverFont">
            Rohith Poyyeri
        </div>
        <div class="col-md-6 blackfont hoverFont">
            <a href="mailto:rohithart@yahoo.com" target="_top">
                <i class="fa fa-envelope-o"></i> Developer
            </a> |
            <a href="tel:+61426622552"><i class="fa fa-phone"></i> Phone</a>
        </div>
    </div>
</footer>
</html>
