<uib-tabset justified="true">
    <uib-tab heading="Welcome">
        <div class="well">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                       
                    </div>
                    <span class="banner-text">AGL App</span>
                </div>
            </div>
        </div>
    </uib-tab>
    <uib-tab heading="Register">
        <div class="well">
            <div class="row">
                <form role="form">
                    <div class=col-md-6>

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Personal Details:</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <input type="text" placeholder="First Name" class="form-control" id="nfname"
                                           ng-model="signinVM.userLoginData.firstName">
                                </div>
                                <div class="form-group">
                                    <input type="text" placeholder="Last Name" class="form-control" id="nlname"
                                           ng-model="signinVM.userLoginData.lastName">
                                </div>
                                <div class="form-group">
                                    <input type="text" placeholder="Contact Number" class="form-control" id="nphone"
                                           ng-model="signinVM.userLoginData.phone">
                                </div>
                                <div class="form-group">
                                    <input type="text" placeholder="Address" class="form-control" id="naddress"
                                           ng-model="signinVM.userLoginData.address">
                                </div>
                            </div>
                        </div>
                        

                    </div>
                    <div class=col-md-6>

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Login Credentials</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <input type="text" placeholder="Email" class="form-control" id="nusr"
                                           ng-model="signinVM.userLoginData.email">
                                </div>
                                <div class="form-group">
                                    <input type="password" placeholder="Password" class="form-control" id="npwd"
                                           ng-model="signinVM.userLoginData.password">
                                </div>
                                <div class="form-group">
                                    <input type="password" placeholder="Confirm Password" class="form-control" id="cpwd"
                                           ng-model="signinVM.userLoginData.repeatPassword">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="form-control btn btn-success" ng-click="signinVM.register()"
                                            id="nsubmit">
                                        Register
                                    </button>
                                </div>
                            </div>
                        </div>

                        
                    </div>
                </form>
            </div>
        </div>
    </uib-tab>
</uib-tabset>



