
<uib-tabset justified="true">
    <uib-tab heading="All Persons" ng-click="personVM.reset()">
        <div class="well">

            <div class="text-center">
                <div class="spinner" ng-hide="!!personVM.persons">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </div>
            <div class="panel panel-primary" ng-show="!!personVM.persons">
                <div class="panel-heading">
                    <h3 class="panel-title">List of All Persons</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="search col-md-6">
                            <input type="text" placeholder="Search...." ng-model="personVM.searchText" class="form-control" />

                            <div class="col-md-6">
                            </div>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                    <div class="row">
                      <table  class="table table-hover">
                          <thead>
                              <tr>
                                  <th>Name</th>
                                  <th>Gender</th>
                                  <th>Age</th>
                                  <th>Pets</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr sly-repeat="person in personVM.persons | filter:personVM.searchText">
                                  <td>{{person.name}}</td>
                                  <td>{{person.gender}}</td>
                                  <td>{{person.age}}</td>
                                  <td>
                                  <ol>
                                      <li sly-repeat="pet in person.Pets">{{pet.name}} | {{pet.type}}</li>
                                  </ol>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                    </div>
                </div>
            </div>


        </div>
    </uib-tab>
    <uib-tab heading="Cats Grouped By Gender of Owner" active="personVM.editTabFlag" ng-click="personVM.getGroupedPersons()">
        <div class="well">
            <div class="row">

                <div class="text-center">
                    <div class="spinner" ng-hide="!!personVM.groupedPersons">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="panel panel-default" sly-repeat="gender in personVM.groupedPersons">
                            <div class="panel-heading">
                                <i class="fa fa-male fa-fw" ng-show="gender[0].personGender==='Male'"></i> <i class="fa fa-female fa-fw" ng-show="gender[0].personGender==='Female'"></i> {{gender[0].personGender}}
                            </div>
                            <div class="panel-body">
                                <div sly-repeat="person in gender">
                                    <span class="badge petName"> <i class="fa fa-paw fa-fw"></i> {{person.pet.name}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
    </uib-tab>
</uib-tabset>
